<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting patch:instead="setting[@name='Login.BackgroundImageUrl']" name="Login.BackgroundImageUrl" value="/sitecore/login/login-wallpaper.jpg" />
            <setting patch:instead="setting[@name='Login.DisableLicenseInfo']" name="Login.DisableLicenseInfo" value="false" />
        </settings>        
    </sitecore>
</configuration>