<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <react type="Sitecore.Foundation.ReactJs.Models.ReactSettings,Sitecore.Foundation.ReactJs">
      <BundleName>~/bundles/react</BundleName>
      <EnableClientside>true</EnableClientside>
      <UseDebugReactScript>false</UseDebugReactScript>
    </react>
    <settings>
      <setting name="ScriptLocation.ReactJS" value="//fb.me/react-15.0.1.js"></setting>
      <setting name="ScriptLocation.ReactJSDom" value="//fb.me/react-dom-15.0.1.js"></setting>
    </settings>
    <pipelines>
      <mvc.getPageRendering>
        <processor
          patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']"
          type="Sitecore.Foundation.ReactJs.Pipelines.GetPageRendering.RegisterJsxFiles, Sitecore.Foundation.ReactJs">
          <defaultAssets hint="raw:AddAsset">
          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>